<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="miconexion" connectionString="Server=(localdb)\ProjectsV13;Database=ieuk019;Trusted_Connection=True"/>
    <add name="miserver" connectionString="Server=DESKTOP-RAGNARO\MSSQLSERVER01;Database=bold;Trusted_Connection=True"/>
  </connectionStrings>
</configuration>